In [1]:
from dateutil.parser import parse
import itertools
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
plt.rcParams.update({'figure.figsize':(10,7),'figure.dpi':120})

In [2]:
df=pd.read_csv('/content/dataset.csv')
df

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,1.8,1.0,15,1.681
996,NaN,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,7.9,2.0,15,1.838
997,NaN,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,15.7,2.0,16,1.862
998,NaN,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,30.5,6.0,18,1.883
999,NaN,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [3]:
df['index']=df['year']

In [4]:
df=df.drop(['index'],axis=1)
df

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,1.8,1.0,15,1.681
996,NaN,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,7.9,2.0,15,1.838
997,NaN,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,15.7,2.0,16,1.862
998,NaN,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,30.5,6.0,18,1.883
999,NaN,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [5]:
cols = ['Unnamed: 0','Para-1', 'Para-2', 'Para-3','Para-4','Para-5','Para-6','Para-7','Para-8']
df.drop(cols, axis=1, inplace= True)
df

     year  Para-9  Para-10  Para-11  Para-12  Para-13
0       1     0.0      0.0      0.0        0    1.520
1       2     0.0      3.4      0.0        0    1.620
2       3     0.0     21.3      0.0        4    1.680
3       4     0.0     21.3      0.0        5    1.780
4       5     0.0     23.9      0.0        7    1.800
..    ...     ...      ...      ...      ...      ...
995     6    15.1      1.8      1.0       15    1.681
996     7    24.6      7.9      2.0       15    1.838
997     8   119.0     15.7      2.0       16    1.862
998     9   138.2     30.5      6.0       18    1.883
999    10   293.0     39.8      7.0       18    1.889

[1000 rows x 6 columns]

In [6]:
train = df[df['year'] < 10]
test = df[df['year'] >=10]

In [7]:
train

     year  Para-9  Para-10  Para-11  Para-12  Para-13
0       1     0.0      0.0      0.0        0    1.520
1       2     0.0      3.4      0.0        0    1.620
2       3     0.0     21.3      0.0        4    1.680
3       4     0.0     21.3      0.0        5    1.780
4       5     0.0     23.9      0.0        7    1.800
..    ...     ...      ...      ...      ...      ...
994     5    19.0      0.0      0.0       15    1.654
995     6    15.1      1.8      1.0       15    1.681
996     7    24.6      7.9      2.0       15    1.838
997     8   119.0     15.7      2.0       16    1.862
998     9   138.2     30.5      6.0       18    1.883

[900 rows x 6 columns]

In [8]:
test

     year  Para-9  Para-10  Para-11  Para-12  Para-13
9      10    16.8    105.0     65.0        9    1.960
19     10    76.5     44.3      5.0        9    0.795
29     10    78.5      0.0      0.0       16    1.432
39     10    28.5     60.5     67.0       11    2.004
49     10     0.0    276.2     34.0        6    1.792
..    ...     ...      ...      ...      ...      ...
959    10   219.7    206.2     10.0        8    1.607
969    10     5.9     74.5     33.0       13    1.087
979    10   131.4     72.4     18.0       12    0.996
989    10   193.7    305.6    180.0       12    2.212
999    10   293.0     39.8      7.0       18    1.889

[100 rows x 6 columns]

In [9]:
##ARMA model using the SARIMAX package
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [16]:
y = train['Para-9']
ARMAmodel = SARIMAX(y, order = (3, 2, 2))
ARMAmodel = ARMAmodel.fit()
y_pred = ARMAmodel.get_forecast(len(test['Para-9']))
y_pred_df1 = y_pred.conf_int(alpha = 0.05) 
y_pred_df1["Predictions"] = ARMAmodel.predict(start = y_pred_df1.index[0], end = y_pred_df1.index[-1])
y_pred_df1.index = test.index
y_pred_out1 = y_pred_df1["Predictions"] 
y_pred_out1

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      130.738540
19     129.114478
29     130.523016
39     130.176684
49     130.800505
          ...
959    143.628883
969    143.811595
979    143.918121
989    144.098684
999    144.207299
Name: Predictions, Length: 100, dtype: float64

In [24]:
y = train['Para-10']
ARMAmodel = SARIMAX(y, order = (2,1,1))
ARMAmodel = ARMAmodel.fit()
y_pred = ARMAmodel.get_forecast(len(test['Para-10']))
y_pred_df2 = y_pred.conf_int(alpha = 0.05) 
y_pred_df2["Predictions"] = ARMAmodel.predict(start = y_pred_df2.index[0], end = y_pred_df2.index[-1])
y_pred_df2.index = test.index
y_pred_out2 = y_pred_df2["Predictions"] 
y_pred_out2

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      42.644347
19     51.917847
29     58.946680
39     64.269894
49     68.301025
         ...
959    80.877081
969    80.877081
979    80.877081
989    80.877081
999    80.877081
Name: Predictions, Length: 100, dtype: float64

In [30]:
y = train['Para-11']
ARMAmodel = SARIMAX(y, order = (1, 1, 1))
ARMAmodel = ARMAmodel.fit()
y_pred = ARMAmodel.get_forecast(len(test['Para-11']))
y_pred_df3 = y_pred.conf_int(alpha = 0.05) 
y_pred_df3["Predictions"] = ARMAmodel.predict(start = y_pred_df3.index[0], end = y_pred_df3.index[-1])
y_pred_df3.index = test.index
y_pred_out3 = y_pred_df3["Predictions"] 
y_pred_out3

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9       9.319100
19     11.809250
29     13.677481
39     15.079119
49     16.130695
         ...
959    19.289609
969    19.289609
979    19.289609
989    19.289609
999    19.289609
Name: Predictions, Length: 100, dtype: float64

In [39]:
y = train['Para-12']
ARMAmodel = SARIMAX(y, order = (1, 1, 1))
ARMAmodel = ARMAmodel.fit()
y_pred = ARMAmodel.get_forecast(len(test['Para-12']))
y_pred_df4 = y_pred.conf_int(alpha = 0.05) 
y_pred_df4["Predictions"] = ARMAmodel.predict(start = y_pred_df4.index[0], end = y_pred_df4.index[-1])
y_pred_df4.index = test.index
y_pred_out4 = y_pred_df4["Predictions"] 
y_pred_out4

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      14.097013
19     11.604044
29     10.011700
39      8.994616
49      8.344970
         ...
959     7.196368
969     7.196368
979     7.196368
989     7.196368
999     7.196368
Name: Predictions, Length: 100, dtype: float64

In [50]:
y = train['Para-13']
ARMAmodel = SARIMAX(y, order = (1, 1, 1))
ARMAmodel = ARMAmodel.fit()
y_pred = ARMAmodel.get_forecast(len(test['Para-13']))
y_pred_df5 = y_pred.conf_int(alpha = 0.05) 
y_pred_df5["Predictions"] = ARMAmodel.predict(start = y_pred_df5.index[0], end = y_pred_df5.index[-1])
y_pred_df5.index = test.index
y_pred_out5 = y_pred_df5["Predictions"] 
y_pred_out5

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      1.713135
19     1.623977
29     1.577180
39     1.552618
49     1.539725
         ...
959    1.525483
969    1.525483
979    1.525483
989    1.525483
999    1.525483
Name: Predictions, Length: 100, dtype: float64

In [53]:
#ARIMA
from statsmodels.tsa.arima.model import ARIMA

In [65]:
y=train['Para-9']
ARIMAmodel = ARIMA(y, order = (1, 1, 2))
ARIMAmodel = ARIMAmodel.fit()
y_pred = ARIMAmodel.get_forecast(len(test['Para-9']))
y_pred_df1 = y_pred.conf_int(alpha = 0.05) 
y_pred_df1["Predictions"] = ARIMAmodel.predict(start = y_pred_df1.index[0], end = y_pred_df1.index[-1])
y_pred_df1.index = test.index
y_pred_out1 = y_pred_df1["Predictions"]

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

In [75]:
y=train['Para-10']
ARIMAmodel = ARIMA(y, order = (3, 1, 1))
ARIMAmodel = ARIMAmodel.fit()
y_pred = ARIMAmodel.get_forecast(len(test['Para-10']))
y_pred_df2 = y_pred.conf_int(alpha = 0.05) 
y_pred_df2["Predictions"] = ARIMAmodel.predict(start = y_pred_df2.index[0], end = y_pred_df2.index[-1])
y_pred_df2.index = test.index
y_pred_out2 = y_pred_df2["Predictions"] 
y_pred_out2

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      42.780271
19     52.191126
29     59.295124
39     64.642876
49     68.666410
         ...
959    80.885754
969    80.885754
979    80.885754
989    80.885754
999    80.885754
Name: Predictions, Length: 100, dtype: float64

In [83]:
y=train['Para-11']
ARIMAmodel = ARIMA(y, order = (1, 1, 1))
ARIMAmodel = ARIMAmodel.fit()
y_pred = ARIMAmodel.get_forecast(len(test['Para-11']))
y_pred_df3 = y_pred.conf_int(alpha = 0.05) 
y_pred_df3["Predictions"] = ARIMAmodel.predict(start = y_pred_df3.index[0], end = y_pred_df3.index[-1])
y_pred_df3.index = test.index
y_pred_out3 = y_pred_df3["Predictions"] 
y_pred_out3

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9       9.319100
19     11.809250
29     13.677481
39     15.079119
49     16.130695
         ...
959    19.289609
969    19.289609
979    19.289609
989    19.289609
999    19.289609
Name: Predictions, Length: 100, dtype: float64

In [89]:
y=train['Para-12']
ARIMAmodel = ARIMA(y, order = (1, 1, 1))
ARIMAmodel = ARIMAmodel.fit()
y_pred = ARIMAmodel.get_forecast(len(test['Para-12']))
y_pred_df4 = y_pred.conf_int(alpha = 0.05) 
y_pred_df4["Predictions"] = ARIMAmodel.predict(start = y_pred_df4.index[0], end = y_pred_df4.index[-1])
y_pred_df4.index = test.index
y_pred_out4 = y_pred_df4["Predictions"] 
y_pred_out4

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      14.097013
19     11.604044
29     10.011700
39      8.994616
49      8.344970
         ...
959     7.196368
969     7.196368
979     7.196368
989     7.196368
999     7.196368
Name: Predictions, Length: 100, dtype: float64

In [95]:
y=train['Para-13']
ARIMAmodel = ARIMA(y, order = (1, 1, 1))
ARIMAmodel = ARIMAmodel.fit()
y_pred = ARIMAmodel.get_forecast(len(test['Para-13']))
y_pred_df5 = y_pred.conf_int(alpha = 0.05) 
y_pred_df5["Predictions"] = ARIMAmodel.predict(start = y_pred_df5.index[0], end = y_pred_df5.index[-1])
y_pred_df5.index = test.index
y_pred_out5 = y_pred_df5["Predictions"] 
y_pred_out5

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      1.713135
19     1.623977
29     1.577180
39     1.552618
49     1.539725
         ...
959    1.525483
969    1.525483
979    1.525483
989    1.525483
999    1.525483
Name: Predictions, Length: 100, dtype: float64

In [113]:
y=train['Para-9']
SARIMAXmodel = SARIMAX(y, order = (2, 2, 2), seasonal_order=(2,1,1,12))
SARIMAXmodel = SARIMAXmodel.fit()
y_pred = SARIMAXmodel.get_forecast(len(test['Para-9']))
y_pred_df1 = y_pred.conf_int(alpha = 0.05) 
y_pred_df1["Predictions"] = SARIMAXmodel.predict(start = y_pred_df1.index[0], end = y_pred_df1.index[-1])
y_pred_df1.index = test.index
y_pred_out1 = y_pred_df1["Predictions"] 
y_pred_out1

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      114.977583
19     116.208407
29     115.974694
39     114.707719
49     124.447335
          ...
959    152.947990
969    136.867730
979    142.606626
989    149.391630
999    135.220076
Name: Predictions, Length: 100, dtype: float64

In [122]:
y=train['Para-10']
SARIMAXmodel = SARIMAX(y, order = (2, 1, 1), seasonal_order=(2,1,1,12))
SARIMAXmodel = SARIMAXmodel.fit()
y_pred = SARIMAXmodel.get_forecast(len(test['Para-10']))
y_pred_df2 = y_pred.conf_int(alpha = 0.05) 
y_pred_df2["Predictions"] = SARIMAXmodel.predict(start = y_pred_df2.index[0], end = y_pred_df2.index[-1])
y_pred_df2.index = test.index
y_pred_out2 = y_pred_df2["Predictions"] 
y_pred_out2

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      -5.233763
19     14.606017
29     35.532319
39     29.973025
49     52.637107
         ...
959    98.237372
969    63.448355
979    74.379033
989    88.893161
999    53.055840
Name: Predictions, Length: 100, dtype: float64

In [124]:
y=train['Para-11']
SARIMAXmodel = SARIMAX(y, order = (2, 1, 1), seasonal_order=(2,1,1,12))
SARIMAXmodel = SARIMAXmodel.fit()
y_pred = SARIMAXmodel.get_forecast(len(test['Para-11']))
y_pred_df3 = y_pred.conf_int(alpha = 0.05) 
y_pred_df3["Predictions"] = SARIMAXmodel.predict(start = y_pred_df3.index[0], end = y_pred_df3.index[-1])
y_pred_df3.index = test.index
y_pred_out3 = y_pred_df3["Predictions"] 
y_pred_out3

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      -0.738318
19      0.778160
29      3.616762
39     18.779383
49     23.715017
         ...
959    26.641494
969    22.815140
979    27.553988
989    32.390302
999    19.132881
Name: Predictions, Length: 100, dtype: float64

In [128]:
y=train['Para-12']
SARIMAXmodel = SARIMAX(y, order = (1, 1, 1), seasonal_order=(1,1,1,12))
SARIMAXmodel = SARIMAXmodel.fit()
y_pred = SARIMAXmodel.get_forecast(len(test['Para-12']))
y_pred_df4 = y_pred.conf_int(alpha = 0.05) 
y_pred_df4["Predictions"] = SARIMAXmodel.predict(start = y_pred_df4.index[0], end = y_pred_df4.index[-1])
y_pred_df4.index = test.index
y_pred_out4 = y_pred_df4["Predictions"] 
y_pred_out4

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      12.204178
19     10.575621
29     10.192076
39      7.548528
49      7.685095
         ...
959     7.315699
969     5.350469
979     6.133100
989     7.257931
999     5.234266
Name: Predictions, Length: 100, dtype: float64

In [131]:
y=train['Para-13']
SARIMAXmodel = SARIMAX(y, order = (1, 1, 1), seasonal_order=(1,1,1,12))
SARIMAXmodel = SARIMAXmodel.fit()
y_pred = SARIMAXmodel.get_forecast(len(test['Para-13']))
y_pred_df5 = y_pred.conf_int(alpha = 0.05) 
y_pred_df5["Predictions"] = SARIMAXmodel.predict(start = y_pred_df5.index[0], end = y_pred_df5.index[-1])
y_pred_df5.index = test.index
y_pred_out5 = y_pred_df5["Predictions"] 
y_pred_out5

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      1.698194
19     1.699367
29     1.963935
39     1.683521
49     1.738284
         ...
959    1.793600
969    1.726489
979    1.769360
989    2.039557
999    1.737221
Name: Predictions, Length: 100, dtype: float64

In [134]:
y=train['Para-9']
SARIMAXmodel = SARIMAX(y, order = (2, 1, 1), seasonal_order=(2,1,1,12))
SARIMAXmodel = SARIMAXmodel.fit()
y_pred = SARIMAXmodel.get_forecast(len(test['Para-9']))
y_pred_df1 = y_pred.conf_int(alpha = 0.05) 
y_pred_df1["Predictions"] = SARIMAXmodel.predict(start = y_pred_df1.index[0], end = y_pred_df1.index[-1])
y_pred_df1.index = test.index
y_pred_out1 = y_pred_df1["Predictions"] 
y_pred_out1

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      130.738540
19     129.114478
29     130.523016
39     130.176684
49     130.800505
          ...
959    143.628883
969    143.811595
979    143.918121
989    144.098684
999    144.207299
Name: Predictions, Length: 100, dtype: float64

In [148]:
import numpy as np
from sklearn.metrics import mean_squared_error

In [151]:
arma_rmse1 = np.sqrt(mean_squared_error(test["Para-9"].values, y_pred_df1["Predictions"]))

In [180]:
print(arma_rmse1)

92.3444661831113

In [136]:
y=train['Para-10']
SARIMAXmodel = SARIMAX(y, order = (2, 1, 1), seasonal_order=(2,1,1,12))
SARIMAXmodel = SARIMAXmodel.fit()
y_pred = SARIMAXmodel.get_forecast(len(test['Para-10']))
y_pred_df2 = y_pred.conf_int(alpha = 0.05) 
y_pred_df2["Predictions"] = SARIMAXmodel.predict(start = y_pred_df2.index[0], end = y_pred_df2.index[-1])
y_pred_df2.index = test.index
y_pred_out2 = y_pred_df2["Predictions"] 
y_pred_out2

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      -5.233763
19     14.606017
29     35.532319
39     29.973025
49     52.637107
         ...
959    98.237372
969    63.448355
979    74.379033
989    88.893161
999    53.055840
Name: Predictions, Length: 100, dtype: float64

In [159]:
arma_rmse2 = np.sqrt(mean_squared_error(test["Para-10"].values, y_pred_df2["Predictions"]))

In [182]:
print(arma_rmse2)

97.56085604528062

In [138]:
y=train['Para-11']
SARIMAXmodel = SARIMAX(y, order = (2, 1, 1), seasonal_order=(2,1,1,12))
SARIMAXmodel = SARIMAXmodel.fit()
y_pred = SARIMAXmodel.get_forecast(len(test['Para-11']))
y_pred_df3 = y_pred.conf_int(alpha = 0.05) 
y_pred_df3["Predictions"] = SARIMAXmodel.predict(start = y_pred_df3.index[0], end = y_pred_df3.index[-1])
y_pred_df3.index = test.index
y_pred_out3 = y_pred_df3["Predictions"] 
y_pred_out3

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      -0.738318
19      0.778160
29      3.616762
39     18.779383
49     23.715017
         ...
959    26.641494
969    22.815140
979    27.553988
989    32.390302
999    19.132881
Name: Predictions, Length: 100, dtype: float64

In [161]:
arma_rmse3 = np.sqrt(mean_squared_error(test["Para-11"].values, y_pred_df3["Predictions"]))

In [184]:
print(arma_rmse3)

50.52585314347877

In [140]:
y=train['Para-12']
ARIMAmodel = ARIMA(y, order = (1, 1, 1))
ARIMAmodel = ARIMAmodel.fit()
y_pred = ARIMAmodel.get_forecast(len(test['Para-12']))
y_pred_df4 = y_pred.conf_int(alpha = 0.05) 
y_pred_df4["Predictions"] = ARIMAmodel.predict(start = y_pred_df4.index[0], end = y_pred_df4.index[-1])
y_pred_df4.index = test.index
y_pred_out4 = y_pred_df4["Predictions"] 
y_pred_out4

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      14.097013
19     11.604044
29     10.011700
39      8.994616
49      8.344970
         ...
959     7.196368
969     7.196368
979     7.196368
989     7.196368
999     7.196368
Name: Predictions, Length: 100, dtype: float64

In [164]:
arma_rmse4 = np.sqrt(mean_squared_error(test["Para-12"].values, y_pred_df4["Predictions"]))

In [177]:
print(arma_rmse4)

18.91069655724259

In [142]:
y = train['Para-13']
ARMAmodel = SARIMAX(y, order = (1, 1, 1))
ARMAmodel = ARMAmodel.fit()
y_pred = ARMAmodel.get_forecast(len(test['Para-13']))
y_pred_df5 = y_pred.conf_int(alpha = 0.05) 
y_pred_df5["Predictions"] = ARMAmodel.predict(start = y_pred_df5.index[0], end = y_pred_df5.index[-1])
y_pred_df5.index = test.index
y_pred_out5 = y_pred_df5["Predictions"] 
y_pred_out5

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:579: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/base/tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

9      1.713135
19     1.623977
29     1.577180
39     1.552618
49     1.539725
         ...
959    1.525483
969    1.525483
979    1.525483
989    1.525483
999    1.525483
Name: Predictions, Length: 100, dtype: float64

In [168]:
arma_rmse5 = np.sqrt(mean_squared_error(test["Para-13"].values, y_pred_df5["Predictions"]))

In [172]:
print(arma_rmse5)

0.43987704765108

In [185]:
 #arma_rmse1=92.3444661831113
 #arma_rmse2=97.56085604528062
 #arma_rmse3=50.52585314347877
 #arma_rmse4=18.91069655724259
 #arma_rmse5=0.43987704765108
avgrmse5=(arma_rmse1+arma_rmse2+arma_rmse3+arma_rmse4+arma_rmse5)/5
avgrmse5

51.956349795352864